.svg-widget {
  height: 100%;
}

.svg-widget .grid {
  border: solid 2px #F7F8A6;
}

.svg-widget svg *:not(.grid):not(text):not(tspan) {
  stroke-width: 1px;
}

.svg-widget svg text {
  stroke-width: 0;
  fill: none;
  margin: 0;
  padding: 0;
}

.svg-widget svg[data-control=move] *:not(.grid):hover,
.svg-widget svg[data-control=rubber] *:not(.grid):hover {
  cursor: move;
  stroke-width: 2px;
}

.svg-widget svg[data-control=text] text:hover {
  cursor: pointer;
}

.svg-widget .anchor {
  display: none;
}

.svg-widget svg[data-control=move] .anchor,
.svg-widget svg[data-control=text] .anchor,
.svg-widget svg[data-control=rubber] .anchor {
  fill: rgba(213, 236, 24, 0.2);
  stroke: rgb(14, 14, 14);
  display: block;
}
